---
layout: default
title: Home
---

<!-- <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.5.1/dist/simpleParallax.min.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js"></script>




<div class="splash">
	<div class="bg" id="splash_bg">
		{% include image_resolver.html src="https://source.unsplash.com/2qSqXJLLM_Y/480x270" id="splash_bg_img" class="rellax" rellax_speed="-7" %}
	</div>

	{% include big_logo.html %}
</div>

<h3>Who are we?</h3>

<p>The ESI Rapid Response Group (RRG) was formed to respond to critical environmental issues in a timely manner with science based analysis and assistance in the service of our partners in communities, civil society, government and industry. The RRG generates a variety of targeted materials including synopses of state of the art, briefing documents, fact sheets, talking points, executive summaries, and other products in various media and across a range of important environmental issues. The RRG also serves as a bridge between the MIT community and our partners by connecting individuals and expertise through informal conversations, curated panels, symposia and other knowledge and perspective sharing events.</p>

<h3>Project Highlights</h3>

{% include projects.html %}

<h3>Support Us</h3>

<p>Please consider joining us as we work to connect MIT with the world on a broad range of important environmental issues. We seek partners of all types interested in constructive actions for a humane and sustainable future.</p>

<script>

	window.addEventListener("load", setupRellax);

	document.getElementById("splash_bg_img").onload = finishedLoadingPhotoRes1;

	var rellax = new Rellax('.rellax', {
		horizontal:true
	});

	function finishedLoadingPhotoRes1() {
		setupRellax();
		document.getElementById("splash_bg_img").onload = null;
		document.getElementById("splash_bg_img").src= "https://source.unsplash.com/2qSqXJLLM_Y/1920x1080";
		setupRellax();
	}

	function setupRellax() {
		document.getElementById("splash_bg_img").src= "https://source.unsplash.com/2qSqXJLLM_Y/3840x2160";
		document.getElementById("splash_bg_img").onload = null;
		rellax.refresh();
	}

</script>
