---
layout: default
title: Projects
---

<section>
	<h1>RRG's Projects</h1>

	<p>Many environmental issues are complex and involve stakeholders and other interested parties with widely differing capacities and access to resources and information. The RRG seeks to serve the public interest with the very best science based information and analysis delivered under deadline and for targeted uses.</p>

	<p>Many environmental topics also require engagement within specific and sometimes short time frames and as part of complicated processes - legal, legislative, economic and political - that may not normally accommodate academic engagement.</p>

	<p>The information below describes the wide range of engagements and the products that arise from our work. Each of the projects addresses one or more of the following topic categories:</p>

	<ul>
		<li>Climate change science</li>
		<li>Climate change consequences and solutions</li>
		<li>Biodiversity; Cities, resources and nature</li>
		<li>Production of materials and services</li>
		<li>Societal consumption</li>
		<li>Pollution</li>
	</ul>

	<p>Also, each of the projects specifies the United Nations Sustainable Development Goals that are addressed by the work.</p>

</section>

<h3>Projects Highlights</h3>
<br/>

{% include projects.html %}

<h3>Projects Stories</h3>
<br/>

{% include stories.html %}
