<div class="mobile_card_container">
	<div class="card_container">

		{% for member in site.members %}

			<div class="card" primary-color="#444" secondary-color="#aaa">
				<img src="{{ site.baseurl }}/resources/headshots/{{ member.title | downcase }}.png" class="upper"/>
				<div>
					<h5>{{ member.name }}</h5>

					<h6>{{ member.affiliation }}</h6>
					<h6 class="spec">{{ member.detail }}</h6>
				</div>
				<img src="{{ site.baseurl }}/resources/headshots/{{ member.title | downcase }}.png" class="lower"/>
			</div>

		{% endfor %}

		<div style="width: 1em;" class="only_mobile"></div>

	</div>

</div>
