{%- assign page_paths = site.header_pages | default: default_paths -%}

<header id="header">
  <nav>
	<a href="{{ site.baseurl }}/" class="small_logo">
		<!-- <img src="{{ site.baseurl }}/resources/images/small_logo.svg"/> -->

		<svg viewBox="0 0 99 49">
			<use xlink:href="{{ site.baseurl }}/resources/images/small_logo.svg#Logo" />
		</svg>

	</a>
	<button id="menu_button">
	  <span></span>
	</button>
  </nav>
</header>

<div id="menuBG">
</div>

<div id="menu">
	{% include big_logo.html %}
	<nav>
		<ul>

		  {%- for nav_path in page_paths -%}

			{%- assign my_page = site.pages | where: "path", nav_path | first -%}

			{%- if my_page.title == page.title -%}
			  <li class="active"><a href="{{ my_page.url | relative_url | remove: '.html' }}">{{ my_page.title }}</a></li>
			{%- elsif my_page.title -%}
			  <li><a href="{{ my_page.url | relative_url | remove: '.html' }}">{{ my_page.title }}</a></li>
			{%- endif -%}

		  {%- endfor -%}

		</ul>
	</nav>

	<footer>
		<a href="#">
			<img class="mail_icon" src="{{ site.baseurl }}/resources/images/mail_white.svg"/>
			esirrg@mit.edu
		</a>
	</footer>
</div>


<script src="{{ site.baseurl }}/resources/scripts/nav.js"></script>
