<h6 class="team_name">TEAM {{ include.team_name | upcase }}</h6>

{% assign team_members = site.members
	| where_exp: "team_member", "team_member.teams contains include.team_name" %}

<div class="team_members">

	{% for team_member in team_members %}

		<div class="team_member{% if team_member.team_lead == include.team_name %} team_lead{% endif %}">
			<img src="{{ site.baseurl }}/resources/headshots/{{ team_member.title | downcase }}.png" class="headshot_circle"/>
			<p>{{ team_member.name }}</p>
			<div class="team_lead_star"><img src="{{ site.baseurl }}/resources/images/star.svg"/>
			  <span class="tooltiptext">Team Lead</span>
			</div>
		</div>

	{% endfor %}

</div>
