.post {
	width: 90%;
	margin: 5%;
}

.post img.post_img {
	width: 110%;
	margin: 1em -5%;
	height: 300px;
	max-height: 40vh;
	object-fit: cover;
}

.post h1.post_title {
	font-size: 2em;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	color: #666;
}

.post h1 {
	font-size: 1.2em;
}

.post h2 {
	font-size: 1.1em;
}

.post h3 {
	font-size: 1em;
}

.post h6.team_name {
	font-family: "Nunito", sans-serif;
	font-weight: 900;
	font-size: 0.8em;
}

.post .team_members {
	display: flex;
	flex-flow: row wrap;
}

.post .team_member {
	vertical-align: middle;
	display: inline-block;
	width: max-content;
	margin: -20px 0px 10px 0px;
	order: 2;
}

.post .team_member p {
	font-size: 1em;
	display: inline-block;
	vertical-align: middle;
	color: #888;
}

.post .team_lead {
	order: 1;
}

.post .team_lead_star {
	vertical-align: middle;
	margin-left: 5px;
	display: inline-block;

	position: relative;

	transform: rotate(-72deg) translate(0);
	transition: all 0.08s ease-out;
	transition-delay: 0.1s;
}

.post .team_member:not(.team_lead) .team_lead_star {
	display: none;
}

.team_lead_star .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #F5A623;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	font-size: 0.8em;
	font-weight: 900;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 0.05em;

	position: absolute;
	z-index: 1;

	width: 120px;
	bottom: 2.9em;
	left: 50%;
	margin-left: -60px;

	opacity: 0;
	transition: all 0.2s ease-out;
	transition-delay: 0s;
}

.team_lead_star::before {
	display: block;
	position: absolute;
	width: 100%;
	margin-top: -1.1em;
	text-align: center;
	content : "\25BE"; /* triangle pointing down character */
	font-size: 1.4em;
	color: #F5A623;

	opacity: 0;
	transition: all 0.2s ease-out;
	transition-delay: 0s;
}

.team_lead_star:hover {
	transform: rotate(0deg) translateX(-4px) translateY(2px);
	transition-delay: 0s;
}

.team_lead_star:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
	transition-delay: 0.15s;
}

.team_lead_star:hover::before {
	opacity: 1;
	transition-delay: 0.15s;
}

.post img.headshot_circle {
	width: 2em;
	height: 2em;
	border-radius: 1em;
	display: inline-block;
	vertical-align: middle;
	margin: 0px 10px 0px 20px;
}

/* DYNAMIC MENU STUFF */

body.scrolled header#header {
	padding-left: 1rem;
	margin-left: -10vw;
	margin-right: -10vw;
}

/* MOBILE SPECIFIC */

@media only screen and (max-width: 800px) {

	.post .team_members {
		flex-direction: column;
	}

	.post .team_member {
		display: block;
	}

}
