:root {
  --big_logo_c1: #003B4D;
  --big_logo_c2: white;
  --mail_c1: black;
  --heart_c1: black;
}

body {
	width: 80vw;
	margin-left: 10vw;
	font-family: 'Nunito', sans-serif;
}

h1 {
	font-family: 'Raleway', serif;
}

h3 {
	font-family: 'PT Serif', serif;
	margin: 4em 10% 2em 10%;
}

p {
	font-family: 'Nunito', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

section {
	width: 80%;
	margin: 10% 10% 5% 10%;
}

section h1 {
	font-family: 'PT Serif', serif;
	font-size: 2em;
	text-align: center;
	margin-bottom: 2em;
}

section p {
	font-size: 1.1em;
	line-height: 2em;
}

section ul {
	font-size: 1.1em;
	line-height: 2em;
	margin: 1.5em 2em;
}

section ul li {
	padding-left: 0.6em;
}

p.footnote {
	font-size: 0.75em;
	margin-top: 1em;
}

a.link {
	text-decoration: underline;
	transition: all 0.2s ease-in-out;
}

a.link:hover {
	color: coral;
}

.big_logo {
	width: 50%;
	position: absolute;
	left: 4em;
	max-height: 50vh;
	max-width: 50vw;
	top: 50%;
	transform: translateY(-50%);
}

/* NAVIGATION */

nav .small_logo {
	opacity: 1;
	transition: all 0.2s cubic-bezier(.71,0,.4,1.01);
	position: absolute;
}

header.open nav .small_logo {
	opacity: 0;
}

nav .big_logo {
	opacity: 0;
}

nav .open .big_logo {
	animation-delay: 0.4s;
	animation-duration: 0.7s;
	animation-fill-mode: both;
	animation-name: bigLogoFade;
}

#header {
	padding: 2rem;
	padding-left: 0rem;
	top: 0px;
	position: sticky;
	z-index: 100;
	transition: all ease 0.2s
}

#menu_button {
	background-color: transparent;
	display: inline-block;
	float: right;
	outline: none;
	padding: 0;
	position: relative;
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border: none;
	cursor: pointer;
	z-index: 100;
}

#menu_button span, #menu_button span:before, #menu_button span:after {
	background-color: black;
	content: "";
	display: block;
	height: 2px;
	position: absolute;
	width: 26px;
	transition: all 0.2s ease-in, box-shadow 0.2s ease-in;
	transition-delay: 0.1s;
}

body.scrolled #menu_button span, body.scrolled #menu_button span:before, body.scrolled #menu_button span:after {
	/* only shadow when scrolled */
	box-shadow: 0px 0px 10px 2px rgba(255,255,255,0.75);
}

#menu_button span {
	left: 12px;
	top: 24px;
}
#menu_button span:before {
	top: 7px;
}
#menu_button span:after {
	top: -7px;
}
#menu_button.active span {
	background-color: transparent;
}
body.scrolled #menu_button.active span, body.scrolled #menu_button.active span:before, body.scrolled #menu_button.active span:after {
	box-shadow: 0px 0px 10px 2px rgba(255,255,255,0);
	transition: all 0.2s ease-in, box-shadow 0.01s ease-out;
	transition-delay: 0s;
}
#menu_button.active span:before {
	top: 0;
	transform: rotate3d(0, 0, 1, -45deg);
}
#menu_button.active span:after {
	top: 0;
	transform: rotate3d(0, 0, 1, 45deg);
}

/** FULLSCREEN MENU **/

#menuBG {
  background-color: #53B4D4;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  overflow: hidden;
  text-align: center;
  z-index: 99;
  transform: translateY(-99vh);
  transition: all 0.4s ease-out, background-color 0.2s ease-in;
}

#menuBG.open {
	background-color: #003B4D;
	transform: translateY(0);
}

#menu {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  overflow: hidden;
  text-align: center;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-out, background-color 0.2s ease-in;
}

#menu.open {
	transform: translateY(0);
	--big_logo_c1: white;
	--big_logo_c2: coral;
	visibility: visible;
	opacity: 1;
}

.active#menu_button span:before, .active#menu_button span:after {
	background-color: white;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  margin-right: 4em;
  font-family: 'Raleway', serif;
}

#menu ul li {
  margin-bottom: 2em;
}

#menu ul li a {
    transition: all 0.2s ease-in;
}

#menu ul li.active a {
  color: coral;
}

#menu ul li a:active {
  color: coral;
}

#menu nav a {
  color: #ffffff;
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

#menu ul:hover li a {
  opacity: 0.5;
}

#menu ul li:hover a {
  opacity: 1;
}

#menu nav {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/*** FULLSCREEN MENU FOOTER ***/

footer {
	padding: 2rem;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

footer a {
	text-decoration: none;
	color: white;
}

footer a img {
	transition: all 0.1s ease-in;
}

footer a:hover img {
	transform: translateX(9.5em);
}

footer .mail_icon {
	height: 1em;
	margin-bottom: -0.2em;
	margin-right: 0.5em;
}

/*** ANIMATION RELATED STUFF ***/

#menu.open li:nth-child(1) {
  animation-delay: 0.1s;
}
#menu.open li:nth-child(2) {
  animation-delay: 0.2s;
}
#menu.open li:nth-child(3) {
  animation-delay: 0.3s;
}
#menu.open li:nth-child(4) {
  animation-delay: 0.4s;
}
#menu.open li:nth-child(5) {
  animation-delay: 0.5s;
}

#menu.open li {
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-name: liAnimation;
  opacity: 0;
}

@keyframes bigLogoFade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes liAnimation {
    from {
        transform: translate3d(0,-40px,0);
		opacity: 0;
    }

    to {
        transform: translate3d(0,0,0);
	    opacity: 1;
    }
}

/* REACH US BANNER */

.reach-us {
	text-align: center;
	max-height: 50vh;
	height: 20em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.reach-us h5 {
	display: block;
	font-family: 'PT Serif', serif;
	font-size: 1.5em;
	margin-bottom: -1em;
}

.reach-us h4 {
	display: block;
	font-family: 'Raleway', sans-serif;
	font-size: 2.8em;
	font-weight: 600;
	cursor: pointer;
}

.reach-us h4 .at {
	font-family: 'Nunito', sans-serif;
}

.reach-us .mail_icon {
	height: 0.8em;
	margin-bottom: -0.1em;
	margin-left: 0.25em;
	margin-right: -0.5em;
}

.reach-us h4:hover {
	color: coral;
	--mail_c1: coral;
}

.reach-us h4:hover .mail_icon {
	animation-name: fly_mail;
    animation-duration: 0.8s;
	animation-timing-function: cubic-bezier(.48,.01,0,1.04);
	transform-origin: 0 -40vh;
}

@keyframes fly_mail {
	0% {
		/* transform: translate3d(0,0,0) rotate(0deg); */
		transform: translate3d(0,0,0) rotate(0deg);
		opacity: 1;
		--mail_c1: black;
	}

	20% {
		--mail_c1: #53B4D4;
	}

	35% {
		opacity: 0;
	}

	80% {
		opacity: 0;
		--mail_c1: #53B4D4;
	}

	90% {
		--mail_c1: #53B4D4;
	}

	100% {
		transform: translate3d(0,0,0) rotate(-360deg);
		opacity: 1;
		--mail_c1: coral;
	}
}

/****** PAGES ******/

/* HOME */

/** SPLASH **/

.splash {
	width: 100vw;
	margin: 0 0 -30vh 0;
	position: relative;
	top: -4rem;
	left: -10vw;
	height: 100vh;
}

.splash .bg {
	overflow: hidden;
	height: 80vh;
	width: 100%;
	position: absolute;
	top: -10px;
	background-color: #53B4D4;
	/* background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url('https://images.unsplash.com/photo-1507237998874-b4d52d1dd655?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb'); */
	/* object-fit: cover; */
	/* width: 100%; */
}

.splash .bg img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/* .splash .simpleParallax {
	width: 100%;
	margin-top: -20px;
} */

.splash .big_logo {
	opacity: 1;
	margin-top: -0.5rem;
}

/** CONTENT **/

.Home p {
	margin: 1em 10%;
	padding-left: 2em;
	line-height: 1.8em;
}

/* ABOUT PAGE */

/** MEMBER CARDS **/

.card_container {
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
	grid-gap: 1rem;
	justify-content: space-around;
	margin: 20px;
}

.card {
	color: white;
	font-family: 'Nunito', sans-serif;
	width: 200px;
	margin: 10px 0px;
	display: inline-block;
	background-color: #444;
	transition: 0.2s ease-in;
	/* TODO: USER PAGES */
	/* cursor: pointer; */
}

.card img {
	width: 100%;
	height: 200px;
	margin: 0px;
	display: block;
	object-fit: cover;
	transition: 0.2s ease-in;
}

.card img.lower {
	display: none;
}

.card:nth-child(even) img.upper {
	display: none;
}

.card:nth-child(even) img.lower {
	display: block;
}

.card div {
	margin: 10px 10px;
	padding: 15px;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-grow: 1;
}

.card h5 {
	font-size: 1em;
	margin: 0px;
	width: 100%;
	font-weight: 400;
	margin-bottom: 40px;
	transition: 0.2s ease-in;
}

.card h6 {
	width: min-content;
	max-width: 40%;
	margin: 0px;
	font-weight: bold;
	font-size: 0.8em;
	vertical-align: bottom;
    display: table-cell;
	max-height: 30px;
	max-lines: 2;
	transition: 0.2s ease-in;
}

.card h6.spec {
	width: fit-content;
	text-align: right;
	font-weight: 400;
	max-width: 60%;
}

/*** CARD HOVER ACTIONS ***/

.card:hover {

}

.card:hover img {
	height: 220px;
}

.card:hover h5 {
	margin-bottom: 20px;
}

.card:hover h6 {

}

/** INLINE MEMBER **/

.inline-member {
	display: grid;
	grid-template-columns: fit-content(40%) fit-content(60%);
	grid-gap: 3em;
	justify-content: space-around;
	width: 80%;
	margin: 5em 10%;
}

.inline-member img {
	width: 100%;
	height: auto;
	object-fit: cover;
	max-width: 200px;
}

.inline-member div {
	height: min-content;
	margin: auto 0px;
	max-width: 600px;
}

.inline-member h5 {
	font-size: 1.8em;
	font-family: 'PT Serif', serif;
	margin: 0.7em 0 0 0;
}

.inline-member h6 {
	margin: 0;
	font-size: 1.2em;
	margin: 0.6em 0;
	font-family: 'Raleway', serif;
	font-weight: 500;
}

.inline-member h6.spec {
	font-weight: 400;
	font-size: 1.4em;
	font-weight: 300;
	margin: 1.2em 0;
	font-family: 'Nunito', serif;
}

/* PROJECTS PAGE */

/** PROJECT CARDS **/

.project_cards {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(6, 300px);
	grid-template-rows: minmax(150px, 1fr);
	padding: 0 20px;
	overflow-x: scroll;
	overflow-y: hidden;
	position: absolute;
	left: 0;
	right: 0;
	padding: 0 20vw;
}

.project_card {
	width: 200px;
	max-height: 410px;
	cursor: pointer;
}

.project_card img {
	width: 200px;
	height: 280px;
	object-fit: cover;
	transition: all 0.2s ease-in;
}

.project_card h3 {
	font-family: 'PT Serif', serif;
	font-size: 1em;
	margin-top: 0.4em;
	margin-bottom: 1em;
	margin-left: 0.5rem;
	max-height: 3.8em;
	line-height: 1.3em;
	transition: all 0.2s ease-out;
	transition-delay: 0.1s;
}

.project_card p {
	font-family: 'Nunito', sans-serif;
	font-size: 0.8em;
	font-weight: 300;
	font-style: normal;
	margin-top: -0.5em;
	margin-left: 0.5rem;
	display: block;
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	max-height: 3.8em;
	line-height: 1.4em;
	transition: all 0.2s ease-out;
	transition-delay: 0.15s;
}

.project_card p * {
	/* force strong, em, i, b and all others to look normal */
	font-weight: 300;
	font-style: normal;
}

.project_spacer {
	height: 400px;
}

.project_card::before {
	content: "READ MORE";
	height: 20px;
	margin: 0 0 -280px 0;
	width: 100%;
	object-fit: cover;
	transition: all 0.2s ease;
	position: relative;
	top: 0;
	display: block;
	background-color: rgba(83,180,212,0.2);
	z-index: 2;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	padding-top: 130px;
	padding-bottom: 130px;
	font-size: 20px;
	color: white;
	transition: all 0.2s ease;
	opacity: 0;
}

.project_card:hover::before {
	transform: scale(1.02);
	opacity: 1;
}

/* TODO: decide whether this was worth it lol*/
/* .project_card:nth-child(2)::before {
	color: coral;
}
.project_card:nth-child(2):hover::before {
	color: white;
}
.project_card:nth-child(2):hover::before {
	background-color: rgba(255,127,80,0.2);
}

.project_card:nth-child(3)::before {
	color: #D89738;
}
.project_card:nth-child(3):hover::before {
	color: white;
}
.project_card:nth-child(3):hover::before {
	background-color: rgba(216,151,56,0.2);
} */

.project_card:hover img {
	transform: scale(1.02);
}

.project_card:hover h3 {
	transform: translateY(0.5em);
}

.project_card:hover p {
	transform: translateY(1em);
}

/** PROJECT STORIES **/

.highlighted_story {
	margin-top: -1em;
	width: 70%;
	margin: 0 15% 5em 15%;
	cursor: pointer;
}

.highlighted_story img {
	height: 200px;
	width: 100%;
	object-fit: cover;
	transition: all 0.2s ease;
	margin: 0;
	z-index: 1;
}

.highlighted_story .content {
	padding: 0 2em;
}

.highlighted_story h1 {
	font-family: 'PT Serif', serif;
	font-size: 1.3em;
	transition: all 0.2s ease;
}

.highlighted_story p {
	font-size: 1em;
	font-weight: 300;
	transition: all 0.2s ease;
}

.highlighted_story::before {
	content: "READ MORE";
	height: 20px;
	margin: 0 0 -200px 0;
	width: 100%;
	object-fit: cover;
	transition: all 0.2s ease;
	position: relative;
	top: 0;
	display: block;
	background-color: rgba(255,127,80,0.2);
	z-index: 2;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	padding-top: 90px;
	padding-bottom: 90px;
	font-size: 20px;
	color: white;
	transition: all 0.2s ease;
	opacity: 0;
}

.highlighted_story:hover::before {
	transform: scale(1.02);
	opacity: 1;
}

.highlighted_story:hover img {
	transform: scale(1.02);
}

.highlighted_story:hover h1 {
	transform: translateY(0.5em);
}

.highlighted_story:hover p {
	transform: translateY(1em);
}

/* SUPPORT PAGE */

.reach-us .heart_icon {
	height: 0.8em;
	margin-bottom: -0.1em;
	margin-left: 0.25em;
	margin-right: -0.5em;
}

.reach-us.donate h4:hover {
	color: #ee5253;
	--heart_c1: #ee5253;
}

.reach-us h4:hover .heart_icon {
	animation-name: heart_jump;
    animation-duration: 1.6s;
	animation-timing-function: cubic-bezier(.48,.01,0,1.04);
	animation-iteration-count: infinite;
}

@keyframes heart_jump {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	10% {
		--heart_c1: #ee5253;
	}

	35% {
		transform: scale(1.1);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		--heart_c1: #ee5253;
	}

	50% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		--heart_c1: #ee5253;
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		--heart_c1: #ee5253;
	}
}

/* RELLAX */

.rellax {
    transition: transform 30s cubic-bezier(0, 1.5, 0, 1);
}

/* DYNAMIC HEADER STUFF */

body.scrolled header#header {
	padding-left: 2rem;
	padding-right: 3rem;
	margin-left: -10vw;
	margin-right: -10vw;
}
