<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;900&family=PT+Serif:wght@700&family=Raleway:wght@400;500;900&display=swap" rel="stylesheet">
	<link href="{{ site.baseurl }}/resources/styles/style.css" rel="stylesheet">

	{% if layout.css %}

		<link href="{{ site.baseurl }}/resources/styles/{{ layout.css }}.css" rel="stylesheet">

	{% endif %}

	<link href="{{ site.baseurl }}/resources/styles/mobile.css" rel="stylesheet">

	{% if page.color_theif %}

		<!-- Importing color-theif from a CDN -->

		<script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.2/color-thief.min.js" integrity="sha512-mMe7BAZPOkGbq+zhRBMNV3Q+5ZDzcUEOJoUYXbHpEcODkDBYbttaW7P108jX66AQgwgsAjvlP4Ayb/XLJZfmsg==" crossorigin="anonymous"></script>

	{% endif %}

	{% for script in page.include_scripts %}
	    <script src="{{ site.baseurl }}/resources/scripts/{{ script }}.js"></script>
	{% endfor %}

	<script src="{{ site.baseurl }}/resources/scripts/scroll_detection.js"></script>

	<link rel="icon"
      type="image/png"
      href="{{ site.baseurl }}/resources/images/favicon_alt.png">

	<meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body class="{{ page.title | url_encode }}">

	{% include nav.html %}

    {{ content }}

	{% include reach_us.html %}

  </body>

</html>
