---
layout: default
css: post
---

<div class="post">

	{% include image_resolver.html src=page.image class="post_img" %}

	<h1 class="post_title">{{ page.title }}</h1>

	{% capture member_path %}_members/{{ page.author_kerb }}.md{% endcapture %}

	{% assign author = site.members | where:"path", member_path | first %}

	<p>
		{{ page.date | date: '%B %d, %Y' }}
		{% if author.name %}
			- Written by {{ author.name }}
		{% endif %}
	</p>

	{% include team_banner.html team_name=page.team %}

	<br/>

	{{ content }}

</div>
